/*---------- variable ----------*/
:root{
  --fontColor : rgb(255, 255, 255);
  --background : #ff0000;
}

body{
  font-family: Ubuntu;
  text-align: center;
  background: var(--background);
  color : var(--fontColor);
}

/*---------- Title "TIMER POMODORO" ----------*/
.FirstTitle{
  font-size: 60px;
}

/*---------- Size of number in the timer ----------*/
.timer{
  font-size: 40px;
}

/*---------- Div of the timer ----------*/
.time {
  margin: 0 auto;
  margin-top: 2%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  font-weight: bold;
}

/*---------- Div for the button to be center ----------*/
.button-container {
  display: flex;
  margin-top: 10px;
}

/*---------- Button Start/Reset ----------*/
.StartTimer {
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
}

/*  Button  */
button {
  margin-top: 2%;
  border-radius: 5px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 2% 2% 2% 2%;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}
  
button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/*  Div with "Travail" and "Pause"  */
.divTravailPause p{
  font-size: 2em;
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.divTravailPause{
  margin: 0 auto;
  height: 40px;
  width: 40%;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

/*  Actual Mod ("Travail" or "Pause")  */
.actual{
  font-weight: bold;
}

/*  Input for modify the time of the 2 mods  */
input{
  -moz-appearance: textfield;
  height: fit-content;
  font-size: 2em;
  text-align: center;
  width: 10%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 2%;
  margin-left: 2%;
}

/*---------- Div for the inputs and <p> ----------*/
.Temps p, input{
  font-size: 2em;
  display: inline;
}

.Temps p{
  font-weight: bold;
}

/*---------- <p> of the mods "Travail" and "Pause" inside the modify option ----------*/
.Titreactual{
  font-size: 3em;
  font-weight: bold;
}

.centre{
  align-items: center;
}

/*  Hide or Make visible the input with the button in JS */
.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.Modify{
  margin-bottom: 15%;
}